# Question 1
Consider the following Python module

In [8]:

a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2
b()
b()

b()
print(a)

6

# Question 2
Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

In [1]:
def fileLength(filename):
    try:
        with open(filename, 'r') as infile:
            contents = infile.read()
        return len(contents)
    except FileNotFoundError:
        print(f"File {filename} not found.")

fileLength('idterm.py')          
fileLength('filelength.txt')

File idterm.py not found.

123

# Question 3
Write a class named Marsupial that can be used as shown below:

In [4]:

class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()  
        self.x = x  
        self.y = y  

    def jump(self, dx, dy):
        self.x += dx  
        self.y += dy  

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"
k = Kangaroo(0, 0)
print(k) 
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

# Question 4
Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence

In [8]:
def collatz(x):
    print(x)
    if x == 1:  # Base case: stop when x reaches 1
        return
    elif x % 2 == 0:  # If x is even
        collatz(x // 2)
    else:  
        collatz(3 * x + 1)

collatz(1)  
print("-----")
collatz(10)

1
-----
10
5
16
8
4
2
1

# Question 5
Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

In [11]:
def binary(n):
    if n < 2:  
        return str(n)
    else:
        return binary(n // 2) + str(n % 2)  

print(binary(0))  
print(binary(1)) 
print(binary(3))  
print(binary(9))

0
1
11
1001

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML
document

In [25]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.in_heading = False
        self.heading_level = 0

    def handle_starttag(self, tag, attrs):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = True
            self.heading_level = int(tag[1]) - 1  # Calculate indentation based on heading level

    def handle_endtag(self, tag):
        if tag in ['h1', 'h2', 'h3', 'h4', 'h5', 'h6']:
            self.in_heading = False

    def handle_data(self, data):
        if self.in_heading:
            print(" " * self.heading_level + data.strip())  # Indent according to heading level

# To test with a file (like 'w3c.html'):
try:
    infile = open('w3c.txt', 'r')
    content = infile.read()
    infile.close()

    hp = HeadingParser()
    hp.feed(content)
except FileNotFoundError:
    print("File 'w3c.html' not found. Please make sure the file is in the correct directory.")

W3C Mission
 Principles

# Question 7
Implement Recursive Function

In [39]:
import requests
from bs4 import BeautifulSoup
from urllib.parse import urljoin

def webdir(url, depth, indent):

    print(" " * indent + url)
    
    if depth == 0:
        return
    
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise an error for invalid responses
        
        # Parse the page content
        soup = BeautifulSoup(response.text, 'html.parser')
        
        # Find all links on the page
        for link in soup.find_all('a', href=True):
            child_url = urljoin(url, link['href'])
            webdir(child_url, depth - 1, indent + 1)
    except requests.RequestException as e:
        print(f"Could not retrieve page at {url}: {e}")

# Example usage
# Uncomment and use the line below to test the function with an actual URL
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Could not retrieve page at http://reed.cs.depaul.edu/lperkovic/csc242/test1.html: 404 Client Error:  for url: http://reed.cs.depaul.edu/lperkovic/csc242/test1.html

# Question 8
Write SQL queries on the below database table

In [45]:
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()


cursor.execute('''
CREATE TABLE Weather (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
)
''')

data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346.0),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]
cursor.executemany('INSERT INTO Weather VALUES (?, ?, ?, ?, ?)', data)

 a) All the temperature data
cursor.execute("SELECT Temperature FROM Weather")
print("a) All the temperature data:")
for row in cursor.fetchall():
    print(row[0])

b) All the cities, but without repetition
cursor.execute("SELECT DISTINCT City FROM Weather")
print("\nb) All the cities, but without repetition:")
for row in cursor.fetchall():
    print(row[0])

 c) All the records for India
cursor.execute("SELECT * FROM Weather WHERE Country = 'India'")
print("\nc) All the records for India:")
for row in cursor.fetchall():
    print(row)

 d) All the Fall records
cursor.execute("SELECT * FROM Weather WHERE Season = 'Fall'")
print("\nd) All the Fall records:")
for row in cursor.fetchall():
    print(row)

 e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters
cursor.execute('''
SELECT City, Country, Season
FROM Weather
GROUP BY City, Country, Season
HAVING AVG(Rainfall) BETWEEN 200 AND 400
''')
print("\ne) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:")
for row in cursor.fetchall():
    print(row)

 f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
cursor.execute('''
SELECT City, Country
FROM Weather
WHERE Season = 'Fall'
GROUP BY City, Country
HAVING AVG(Temperature) > 20
ORDER BY AVG(Temperature) ASC
''')
print("\nf) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:")
for row in cursor.fetchall():
    print(row)

 g) The total annual rainfall for Cairo
cursor.execute('''
SELECT SUM(Rainfall) AS Total_Annual_Rainfall
FROM Weather
WHERE City = 'Cairo'
''')
print("\ng) The total annual rainfall for Cairo:")
print(cursor.fetchone()[0])

 h) The total rainfall for each season
cursor.execute('''
SELECT Season, SUM(Rainfall) AS Total_Seasonal_Rainfall
FROM Weather
GROUP BY Season
''')
print("\nh) The total rainfall for each season:")
for row in cursor.fetchall():
    print(row)

conn.close()

a) All the temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

b) All the cities, but without repetition:
Mumbai
London
Cairo

c) All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

d) All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order:
('Cairo', 'Egypt')
('Mumbai', 'India')

g) The total annual rainfall for Cairo:
27.6

h) The total rainfall for each season:
('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

# Question 9
Definition of list of words

In [48]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

uppercase_words = [word.upper() for word in words]
print("a)", uppercase_word
      
lowercase_words = [word.lower() for word in words]
print("b)", lowercase_words)

word_lengths = [len(word) for word in words]
print("c)", word_lengths)

word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print("d)", word_info
      
long_words = [word for word in words if len(word) >= 4]
print("e)", long_words)

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy']